# Editor directories and files
**/.idea
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Rust
debug
target
rustc-ice-*.txt

# Node
**/node_modules
**/dist

# Tauri
**/gen/schemas

# Vite
**/*vite*timestamp*

# Vitepress
**/.vitepress/cache
**/.vitepress/dist

# Others
**/.DS_Store
**/.Thumbs.db
**/.eslintcache
**/.temp

**/*.jks
