@reference "./base.css";

button {
  @apply cursor-pointer;
}

label:has(select),
label:has(textarea),
label:has(button[role="combobox"]),
label:has(input[type="number"]),
label:has(input[type="text"]),
label:has(input[type="url"]) {
  @apply flex w-full flex-col justify-center items-start gap-2 py-1 font-normal;

  & > span {
    @apply w-full;
  }
}

label:has(button[role="checkbox"]),
label:has(button[role="switch"]),
label:has(input[type="checkbox"]),
label:has(input[type="radio"]) {
  @apply flex flex-row justify-start items-center gap-2 py-1 font-normal;

  & > span {
    @apply w-full;
  }
}

[data-sonner-toast] [data-description] {
  @apply text-foreground!;
}

.ellipsis {
  @apply inline-block overflow-hidden text-ellipsis whitespace-nowrap;
}

.game-layout {
  @apply flex size-full overflow-x-hidden overflow-y-auto p-4;
}
