button {
  cursor: pointer;
}

label:has(select),
label:has(textarea),
label:has(input[type="number"]),
label:has(input[type="text"]),
label:has(input[type="url"]),
label:has(button[role="combobox"]) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  font-weight: 400;

  & > span {
    width: 100%;
  }
}

label:has(input[type="checkbox"]),
label:has(input[type="radio"]),
label:has(button[role="switch"]) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400;

  & > span {
    width: 100%;
  }
}

[data-sonner-toast] [data-description] {
  color: var(--foreground) !important;
}

.ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.game-layout {
  display: flex;
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
