@reference "./base.css";

button {
  @apply cursor-pointer;
}

label:has(select),
label:has(textarea),
label:has(button[role="combobox"]),
label:has(input[type="number"]),
label:has(input[type="text"]),
label:has(input[type="url"]) {
  @apply flex w-full flex-col justify-center items-start gap-2 py-1 font-normal;

  & > span {
    @apply w-full;
  }
}

label:has(button[role="checkbox"]),
label:has(button[role="switch"]),
label:has(input[type="checkbox"]),
label:has(input[type="radio"]) {
  @apply flex flex-row justify-start items-center gap-2 py-1 font-normal;

  & > span {
    @apply w-full;
  }
}

[data-sonner-toast] [data-description] {
  @apply text-foreground!;
}

.ellipsis {
  @apply inline-block overflow-hidden text-ellipsis whitespace-nowrap;
}

.card-layout {
  @apply flex size-full flex-col items-center justify-center max-sm:justify-start max-sm:pt-24;
}

.card-layout [data-slot="card"] {
  @apply min-w-[calc(100%-50px)] sm:min-w-80 p-2;
}

.card-layout [data-slot="card-header"] {
  @apply pt-4;
}

.card-layout [data-slot="card-title"] {
  @apply text-xl;
}

.card-layout [data-slot="card-content"] {
  @apply flex flex-col gap-4 px-4;
}

.card-layout [data-slot="card-footer"] {
  @apply items-center justify-center gap-2 px-6 pb-6;
}

.game-layout {
  @apply flex size-full overflow-x-hidden overflow-y-auto p-4;
}
