name: Release Server

on:
  workflow_dispatch:
  release:
    types: [released]

jobs:
  release:
    permissions:
      contents: write
    strategy:
      fail-fast: true
      matrix:
        include:
          - platform: ubuntu-20.04
            args: ""
          - platform: windows-latest
            args: ""

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly

      - name: Install dependencies (Ubuntu)
        if: matrix.platform == 'ubuntu-20.04'
        run: |
          sudo apt-get update

      - name: Release
        shell: pwsh
        run: scripts/build-server.ps1 -Release ${{ github.event.release.tag_name }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUST_BACKTRACE: 1
