name: Test Pull Request

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

concurrency:
  group: test-pr
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2025-12-04
          components: clippy

      - name: Rust cache
        uses: swatinem/rust-cache@v2

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install libgtk-3-dev libwebkit2gtk-4.1-dev

      - name: Clippy
        shell: pwsh
        run: scripts/invoke-clippy.ps1 -U

      - name: Test
        shell: pwsh
        run: scripts/test.ps1
